
#flex-container {
    border: 1px solid blue;
    display: flex;
    height: 200px;
    flex-direction: column;
}

#flex-container > div:nth-child(1) {
    background-color: pink; 
    height:50px;
}

#flex-container > div:nth-child(2) {
    background-color: green;
    height:50px;
}

#flex-container > div:nth-child(3) {
    background-color: purple;
    height: 50px;
}


